.work-table {
   table-layout: fixed ;
   width: 100% ;
}

.training-table {
   table-layout: fixed ;
   width: 67% ;
}

.other-table {
   table-layout: fixed ;
   width: 75% ;
}


.tab2 {
   text-indent: 218px;
}

.tab3 {
   text-indent: 231px;
}
.tab4 {
   text-indent: 266px;
}
